{% extends "admin/change_form.html" %}

{% load static %}

{#{% block extrahead %}{{ block.super }}#}
{#    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>#}
{#    {{ media }}#}
{#{% endblock %}#}
{##}
{#{% block extrastyle %}#}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />#}
{#{% endblock %}#}

{% block after_field_sets %}
{#    <fieldset class="module aligned ">#}
{#        <h2>Assigned to</h2>#}
{#        <div class="form-row field-name field-slug">#}
{#            <div class="field-box field-name">#}
{#                <label class="required" for="id_name">Name:</label>#}
{#                <input type="text" name="name" value="Publisher post" class="vTextField" maxlength="256" required="" id="id_name">#}
{#            </div>#}
{#        </div>#}
{#    </fieldset>#}
{% endblock %}