.borderless td, .borderless th {
    border: none;
}
.table {
    margin-bottom: 0;

    td {
        padding-bottom: 0;
        text-align: center;
    }
}

.card {
    margin-bottom: 10px;
}

.form-rank {
    .card-header {
        cursor: pointer;
        text-align: left;
    }

    .card-block {
        padding-bottom: 0;
    }
}

.news-data-stub {
    padding-top: 0;
    padding-bottom: 0;
}

ul.pagination {
    display: inline-flex !important;
}
