{% extends "admin/change_form.html" %}

{% load static %}

{% block object-tools-items %}
    <li>
        {% if request.user.is_editor %}
            <a href="javascript:void(0)" class="historylink" id="id_lock_btn">
                {% if object.locked %}Unlock{% else %}Lock{% endif %}
            </a>
        {% endif %}
        {% if request.user.is_publisher %}
            {% if request.user == object.author %}
                {% if not post.assigned or request.user == post.assigned %}
                    <a href="javascript:void(0)" class="historylink" id="id_lock_btn">
                        {% if object.locked %}Unlock{% else %}Lock{% endif %}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </li>
    {{ block.super }}
{% endblock %}