<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <i class="fa fa-newspaper-o fa-4x"></i>
            <h1>BlockTimes.io Admin Panel</h1>
            <form role="form" [formGroup]="signInForm" (ngSubmit)="signIn()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg"
                               placeholder="Username" formControlName="username">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg"
                               placeholder="Password" formControlName="password">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="!signInForm.valid">Sign In</button>
            </form>
            <ngb-alert type="warning" (close)="errorMessage = null" *ngIf="errorMessage">{{ errorMessage }}</ngb-alert>
        </div>
    </div>
</div>
